#drawnResult {
  grid-column: 2/2;
  grid-row: 2/3;
  margin-top: 6rem;
  margin-left: 3.2rem;

  & .texts {
    padding-inline: 4rem;

    & .subtitle {
      font: var(--text-lb-md);
      font-weight: 700;
      text-transform: uppercase;
      margin-bottom: 0.4rem;
    }

    & .drawnInfo {
      padding-inline: 5rem;
      font: var(--text-base);
      color: var(--content-secondary);
      margin-bottom: 2.5rem;
    }
  }

  & .result {
  display: grid;
  grid-template-columns: repeat(auto-fit, 65px);
  gap: 1rem;
  padding-right: 3rem;
  max-width: 450px; 
  justify-content: center;

    & .result-number {
    width: 60px;
    height: 60px;
    position: relative;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    }

    & .circle-bg {
      position: absolute;
      width: 100%;
      height: 100%;
      border-radius: 8px;
      background: transparent;
      z-index: 0;

      &.animation-box{
        animation: appear-and-disappear 7s ease-in-out forwards;
      }
    }

    & span.number {
      position: relative;
      z-index: 1;
      font: var(--text-2xl);
      color: transparent;

      &.animation-number{
        animation: show-number 6s ease-in-out 1s forwards;
      }
    }
  }

  & form {
    & .button-wrapper {
      margin-top: 1.5rem;
      max-width: 440px;

      & button {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 0.7rem;
        background: none;
        border: none;
        color: var(--content-primary);
        position: relative;
        z-index: 1;
      }

      & #submitButton {
        padding: 1rem;
        width: 100%;
        font: var(--text-base);
        font-weight: 700;
        text-transform: uppercase;
        transition: transform 4s ease;
        cursor: pointer;
        background: var(--background-tertiary);
        border-radius: 10px;

        &:hover {
          transform: scale(1.03);
        }
      }
    }
  }
}

@keyframes appear-and-disappear {
  0% {
    background: var(--content-brand);
    transform: scale(0.2) rotate(0deg);
    opacity: 0;
  }

  25% {
    transform: scale(1) rotate(360deg);
    opacity: 1;
    background: var(--content-brand);
  }

  70% {
    transform: scale(1) rotate(360deg);
    opacity: 1;
    background: var(--content-brand);
  }

  90% {
    transform: scale(0.2) rotate(720deg);
    opacity: 1;
    background: var(--content-brand);
  }

  100% {
    transform: scale(0.2) rotate(720deg);
    opacity: 0;
    background: transparent;
  }
}


@keyframes show-number {
  0% {
    color: transparent;
  }
  50% {
    color: rgba(0, 0, 0, 0.5);
  }
  100% {
    color: var(--content-brand);
  }
}


@media only screen and (min-width:768px) and (max-width:1030px) {
  #drawnResult{
    margin-left: 3rem;

    & .texts {
      padding-inline: 0;

      & .subtitle {
        font-size: 1.2rem;
      }

      & .drawnInfo {
        padding-inline: 4rem;
        font: var(--text-base);
        color: var(--content-secondary);
        margin-bottom: 2.5rem;
      }
    }

    & .result {
      justify-content: center;
      padding-inline: 0;
    }

    & form {
      & .button-wrapper {
        & #submitButton {
          font-size: 0.9rem;
        }
      }
    }
  }
}

@media only screen and (max-width:767px) {
  #drawnResult {
    grid-column: 1/1;
    grid-row: 3/3;
    margin-left: 0;

    & .texts {
      padding-inline: 0;

      & .drawnInfo {
        padding-inline: 5rem;
        font: var(--text-base);
        color: var(--content-secondary);
        margin-bottom: 2.5rem;
      }
    }

    & .result {
      justify-content: center;
      padding-inline: 0;
    }
  }
}
