#drawning{
  grid-column: 2/2;
  grid-row: 2/3;
  margin-top: 6rem;
  margin-left: 3.2rem;

  & .subtitle{
    font: var(--text-lb-md);
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 0.4rem;
  }

  & .drawnInfo{
    font: var(--text-base);
    color: var(--content-secondary);
    margin-bottom: 2.5rem;
  }

  & form{
    display: flex;
    flex-direction: column;
    

    & #sortedInputs{
      border: none;
      display: flex;
      gap: 0.8rem;

      & .input-wrapper{
        display: flex;
        flex-direction: column;
        align-items: center;

        & label{
         font: var(--text-base);
         text-transform: uppercase;
         margin-bottom: 8px;
        }

        & input{
          width: 80px;
          height: 50px;
          background-color: var(--background-secondary);
          border: none;
          border-radius: 10px;
          padding: 4px 8px;

          font: var(--text-2xl);
          text-align: center;
          color: var(--content-primary);
        }
      }
    }

    & .button-wrapper{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 2.5rem;
        margin-top: 1.5rem;

      & button{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 0.7rem;

        background: none;
        border: none;
        color: var(--content-primary) ;
      } 

      & #repeatButton{

        & span{
          font: var(--text-sm);
          font-weight: 400;
        }

        &:hover{
          cursor: pointer;
        }
      }

      & #submitButton{
        display: flex;
        align-items: center;
        width: 60%;
        padding: 1rem;
        border-radius: 10px;
        background:var(--background-tertiary) ;

        font: var(--text-base);
        font-weight: 700;
        text-transform: uppercase;
        transition: 500ms ease;

        &:hover{
          cursor: pointer;
          transform: scale(1.03);
        }
      }
    }
  }
}

@media only screen and (min-width:768px) and (max-width:1023px){
  #drawning{
    margin-left: 3rem;
  }
}

@media only screen and (max-width:767px) {
  #drawning{
    grid-column: 1/1;
    grid-row: 3/3;
    margin-left: 0;
    }

}