#faq{
  grid-column: 1/1;
  grid-row: 3/3;
  

  & .questions{
    margin-top: 2.5rem;
    display: flex;
    align-items: flex-start;
    gap: 0.8rem;

    & .question {
      display: flex;
      flex-direction: column;
      gap: 0.5rem;

      & span{
         font: var(--text-md);
         color: var(--content-brand);
      }

      & p {
        font: var(--text-sm);
        color: var(--content-secondary);
      }
    }
    
  }
}

@media only screen and (max-width:767px) {
  #faq{
    grid-column: 1/1;
    grid-row: 4/4;

    margin-top: 2rem;
  }

}