#randoming{
  grid-column: 2/2;
  grid-row: 2/3;
  margin-top: 6rem;
  margin-left: 3.2rem;

  & .subtitle{
    font: var(--text-lb-md);
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 0.4rem;
  }

  & .randomInfo{
    font: var(--text-base);
    color: var(--content-secondary);
    margin-bottom: 2.5rem;
  }

  & form{
    display: flex;
    flex-direction: column;
    

    & #sortedInputs{
      border: none;
      display: flex;
      gap: 0.8rem;

      & .input-wrapper{
        display: flex;
        flex-direction: column;
        align-items: center;

        & label{
         font: var(--text-base);
         text-transform: uppercase;
         margin-bottom: 8px;

         &:hover{
          color: var(--content-brand);
         }
        }

        & div input{
          width: 80px;
          height: 50px;
          background-color: var(--background-secondary);
          border: none;
          border-radius: 10px;
          padding: 4px 8px;

          font: var(--text-2xl);
          text-align: center;
          color: var(--content-primary);

          &:hover,
          &:focus{
            background-color: var(--background-tertiary);
          }
        }
      }
    }

    & .button-wrapper{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 2.5rem;
        margin-top: 1.5rem;

      & button{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 0.7rem;

        background: none;
        border: none;
        color: var(--content-primary) ;
      } 

      & #positionBox{
        position: relative;

        & #repeatButton{
          position: absolute;
          inset: 0;
          flex: 0 0 1.5rem;
          height: 25.5rem;
          background-image: url(../assets/stateDefault.svg);
          background-repeat: no-repeat;
        &:hover{
          cursor: pointer;
        }
        &:focus {
          outline: 2px solid #000;
          outline-offset: 2px;
        }
        &[aria-label] {

        }
      }
      & label {
          font: var(--text-sm);
          font-weight: 400;
          padding-left: 3rem;
        }
    }

      & #submitButton{
        display: flex;
        align-items: center;
        width: 60%;
        padding: 1rem;
        border-radius: 10px;
        background:var(--background-tertiary) ;

        font: var(--text-base);
        font-weight: 700;
        text-transform: uppercase;
        transition: 500ms ease;

        & img{
          transition: 500ms ease;
        }

        &:hover{
          cursor: pointer;
          transform: scale(1.03);
          & img{
            animation: bounceX 0.6s infinite alternate ease-in-out;
          }  
        }
      }
    }
  }
}

@media only screen and (min-width:768px) and (max-width:1023px){
  #randoming{
    margin-left: 3rem;
  }
}

@media only screen and (max-width:767px) {
  #randoming{
    grid-column: 1/1;
    grid-row: 3/3;
    margin-left: 0;
    }

}