
.has-gradient-border {
  position: relative;
  border-radius: 10px;
  overflow: visible; /* para o ::before ficar visível */
}

.has-gradient-border input {
  display: block;
  width: 80px;
  height: 50px;
  background-color: var(--background-secondary);
  border: none;
  border-radius: 10px;
  padding: 4px 8px;
  font: var(--text-2xl);
  text-align: center;
  color: var(--content-primary);
  position: relative;
  z-index: 1;
}

/* Borda gradiente no ::before */
.has-gradient-border::before {
  content: '';
  position: absolute;
  top: -1.5px; left: -1.5px; right: -1.5px; bottom: -1.5px;
  border-radius: 9px; 
  padding: 1.5px; 
  background: var(--gradient-border);

  background-size: 400%;
  background-position: 0 50%;
  animation: bg-gradient 2s ease infinite;

  -webkit-mask:
    linear-gradient(#fff 0 0) content-box,
    linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask:
    linear-gradient(#fff 0 0) content-box,
    linear-gradient(#fff 0 0);
  mask-composite: exclude;

  opacity: 0;
  transition: opacity 300ms ease;
  pointer-events: none;
  z-index: 0;
}

.has-gradient-border:active,
.has-gradient-border:hover::before,
.has-gradient-border:focus-within::before {
  opacity: 1;
}

.has-gradient-border:active label,
.has-gradient-border:hover label,
.has-gradient-border:focus-within label {
  color: var(--content-brand);
}

.has-gradient-border input:focus {
  outline: none;
}

@keyframes bg-gradient {
  50% {
    background-position: 100% 50%;
  }
}

.display-none{
  display: none;
}

.active{
  color: var(--content-brand);
}

.active-input{
  background-color: var(--background-tertiary);
}